!!! 5
!= js("admin")
!= css("admin")
html
    head
        title #{title} - Admin
        script(src="/socket.io/socket.io.js")
        link(type="image/x-icon", href="images/favico-admin.png", rel="icon")
        meta(name="apple-mobile-web-app-capable", content="yes")
    body
        #wrapper
            #header
                #menu
                    #menu-admintitle.menu-item #{title} Admin
                    a#menu-status.menu-item(href="#status",title="#{title} status and general info.") Status
                    a#menu-serversettings.menu-item(href="#serversettings",title="Edit server configuration and settings.") Server Settings
                    a#menu-clientsettings.menu-item(href="#clientsettings",title="Edit client (browser) configuration and settings.") Client Settings
                    a#menu-users.menu-item(href="#users",title="User and roles management.") Users and Roles

            #tab-status(style="display:none").admin-tab

            #tab-serversettings(style="display:none").admin-tab

            #tab-clientsettings(style="display:none").admin-tab

            #tab-users.admin-tab
                h2 User management
                .row.edit
                    h4 Create new user
                    input.username(type="text",placeholder="username",title="Enter the username.")
                    input.password(type="text",placeholder="password",title="Enter the user's password.")
                    .roles
                        input#chk-role-admin(type="checkbox",name="chk-role-admin")
                        label.role Admin
                        input#chk-role-mapcreate(type="checkbox",name="chk-role-mapcreate")
                        label.role Create Maps
                        input#chk-role-mapedit(type="checkbox",name="chk-role-mapedit")
                        label.role Edit Maps
                        input#chk-role-mapedit(type="checkbox",name="chk-role-entities")
                        label.role Manage Entities
                        input#chk-role-mapedit(type="checkbox",name="chk-role-auditdata")
                        label.role Manage Audit Data
                        input#chk-role-mapedit(type="checkbox",name="chk-role-auditevents",checked="checked")
                        label.role Manage Audit Events
                    button#but-save-user.save Save user
                h4 Registered users
                #user-grid.grid
                script#template-user-grid-row(type="text/template")
                    .row
                        .displayName <%= displayName %>
                        .username <%= username %>
                        .roles <%= roles %>
                        .actions
                            img(src="../../images/but-edit.png")
                            img(src="../../images/but-delete.png")