!!! 5
!= js("admin")
!= css("admin")
html
    head
        title #{title}
        script(src="/socket.io/socket.io.js")
        link(type="image/x-icon", href="images/favico.png", rel="icon")
        meta(name="apple-mobile-web-app-capable", content="yes")
    body
        #wrapper
            #header
                #menu
                    #menu-admintitle.menu-item #{title} Admin
                    a#menu-createmap.menu-item(href="#createmap",title="Click to create a new map.") Dashboard
                    a#menu-createmap.menu-item(href="#createmap",title="Click to create a new map.") Server Settings
                    a#menu-maps.menu-item(href="#maps",title="View and open available maps.") Users and Roles
                    a#menu-entities.menu-item(href="#entities",title="Open the Entities Manager.") Status