// FOOTER ALERTS
// ---------------------------------------------------------------

#alert-footer(style="display:none")
    label Attention!
    span
    time


// TOOLTIP ALERTS
// ---------------------------------------------------------------

#alert-tooltip(style="display:none")
    label
    span
    time