// FOOTER HTML
// -------------------------------------------------------------------------

#footer

    // The path shows what is currently selected on the [Map View](mapView.html).
    .path
        label #{title} #{version}
        span#footer-maps-name
        span#footer-maps-shape
        span#footer-text

    // Map zoom icons shown on the bottom right of the screen.
    #footer-zoom
        span#footer-zoom-span.control-label Zoom 1.0
        img#footer-zoom-out(src="images/ico-zoom-out.png")
        img#footer-zoom-in(src="images/ico-zoom-in.png")

    // This counter is updated dynamically via javascript on the [Footer View](footerView.html).
    #footer-online-users(title="Number of connected users / viewers on the app now.").
        0