// FOOTER HTML
// -------------------------------------------------------------------------

#footer

    // The path shows what is currently selected on the [Map View](mapView.html).
    .path
        label System #{version}
        span#footer-maps-name
        span#footer-maps-shape
        span#footer-text

    // This counter is updated dynamically via javascript on the [Footer View](footerView.html).
    #footer-online-users(title="Number of connected users / viewers on the app now.").
        0