// HEAD TAG HTML
// -------------------------------------------------------------------------

// All references to stylesheets should be available here.
link(href="stylesheets/common.css", rel="stylesheet")
link(href="stylesheets/forms.css", rel="stylesheet")
link(href="stylesheets/header.css", rel="stylesheet")
link(href="stylesheets/footer.css", rel="stylesheet")
link(href="stylesheets/alerts.css", rel="stylesheet")
link(href="stylesheets/dashboard.css", rel="stylesheet")
link(href="stylesheets/grid.css", rel="stylesheet")
link(href="stylesheets/map.css", rel="stylesheet")
link(href="stylesheets/audit.css", rel="stylesheet")
link(href="stylesheets/settings.css", rel="stylesheet")