// MAP AND (INCLUDED) MAP CONTROLS HTML
// -------------------------------------------------------------------------

// This is the map SVG placeholder.
#map

// Include mapControls.jade with the right panel controls and zoom.
include mapControls

// This is the map creation overlay, displayed when user clicks the "Create Map" button.
#map-create-overlay.full-overlay(style="display:none")
    div
        div
            input#map-create-overlay-name(type="text",placeholder="New map a name...",title="Enter the new map name here. Do NOT use special characters, and try to be descriptive without using a long name.")

// This is the map panning icon which is shown ONLY when user is panning the map around.
#map-panning-icon(style="display:none")