// SCRIPT EDITOR OVERLAY HTML
// -------------------------------------------------------------------------

#script-editor.full-overlay(style="display:none")
    div.full-overlay-contents
        img.close(src="images/ico-x.png")
        h2 Script editor

        div
            span#script-editor-info
            textarea#script-editor-value(placeholder="var shapes = api.Entity.getObjects(...) ...", title="Enter the value of the script here. Please note that the script will be validated prior to saving.")

        div
            button#script-editor-but-save.save(title="Click to validate and save the script above.") Save and close
            span.error