// SETTINGS HTML
// -------------------------------------------------------------------------

#settings.full-overlay(style="display:none")
    div.full-overlay-contents
        img.close(src="images/ico-x.png")
        h2 Settings

        // Tabs shown on top of the overlay: Startup, Local Storage, Server Logs and Keyboard.
        div.tab-headers
            label(data-tab=".general",title="App general options.").active General options
            label(data-tab=".localstorage",title="View and manage data on the browser's local storage.") Local storage
            label(data-tab=".keyboard",title="View and manage keyboard shortcuts and modifier keys.") Keyboard
            label(data-tab=".serverlogs",title="List and view detailed server errors and logs.") Server logs
            label(data-tab=".about",title="About #{title}") About

        // Main app options.
        div.tab.general
            h4 Startup
            div
                span.control-label Start the app maximized
                label.toggle(for="settings-chk-fullscreen",title="If ON, the app will start maximized - header, menu, map controls and footer will be hidden.")
                    input#settings-chk-fullscreen(type="checkbox", name="settings-chk-fullscreen")
                    span
            div
                span.control-label Auto refresh map labels
                label.toggle(for="settings-chk-autorefresh",title="If ON, timers to refresh Audit Data and Map labels will start automatically when you load the app.")
                    input#settings-chk-autorefresh(type="checkbox", name="settings-chk-autorefresh")
                    span
            div
                span.control-label Enable debugging
                label.toggle(for="settings-chk-debug",title="If ON, the app will log most actions and events to the console. Use ONLY if necessary!")
                    input#settings-chk-debug(type="checkbox", name="settings-chk-debug")
                    span
                span.small.error Attention! Performance might be affected while running in debug mode. Use only if necessary.

        // Local storage tab to see and manage the local storage contents.
        div.tab.localstorage(style="display:none")
            h4 Local storage
            #settings-localstorage-contents
            button#settings-localstorage-clear-but Clear local storage

        // Keyboard tab to edit keyboard preferences and manage shortcuts.
        div.tab.keyboard(style="display:none")
            // The modifier keys are customizable and will highlight when
            // mouse hovers any span.
            .modifiers
                h4 Modifier keys (customizable per user)
                #settings-modifierkeys-delete(data-modifier="Delete")
                    label Delete elements
                    .group
                        span.ctrl Ctrl
                        span.shift Shift
                        span.alt Alt
                    strong +
                    .group
                        span.leftclick Left click
                        span.rightclick Right click
                #settings-modifierkeys-multiple(data-modifier="Multiple")
                    label Select multiple
                    .group
                        span.ctrl Ctrl
                        span.shift Shift
                        span.alt Alt
                    strong +
                    .group
                        span.leftclick Left click
                        span.rightclick Right click
                #settings-modifierkeys-toback(data-modifier="ToBack")
                    label Send to back
                    .group
                        span.ctrl Ctrl
                        span.shift Shift
                        span.alt Alt
                    strong +
                    .group
                        span.leftclick Left click
                        span.rightclick Right click
            // The shortcuts are not customizable. Static, no highlight on mouse over.
            .shortcuts
                h4 Shortcuts (fixed for all users)
                div
                    label Save everything
                    span#settings-short-ctrl-save.active Ctrl
                    span#settings-short-shift-save Shift
                    span#settings-short-alt-save Alt
                    strong +
                    span.active S
                div
                    label Toggle edit mode
                    span#settings-short-ctrl-save.active Ctrl
                    span#settings-short-shift-save Shift
                    span#settings-short-alt-save Alt
                    strong +
                    span.active E
                div
                    label Data binding
                    span#settings-short-ctrl-autocomplete Ctrl
                    span#settings-short-shift-autocomplete Shift
                    span#settings-short-alt-autocomplete Alt
                    strong +
                    span.active $

        // Server logs to see and troubleshoot server logs.
        div.tab.serverlogs(style="display:none")
            h4 Server errors
            #settings-servererrors-contents
            button#settings-servererrors-clear-but Clear server errors

        // About tab containing info about the app.
        div.tab.about(style="display:none")
            h4 About
            div
                span App version: #{version}
            div
                span Running on port: #{port}
            div
                span Last updated: #{lastModified}