// START OVERLAY HTML
// -------------------------------------------------------------------------

#start.full-overlay(style="display:none")
    div.full-overlay-contents
        img.close(src="images/ico-x.png")
        h2 Start

        div.tab
            h4 Available maps
            img#start-map-preview
            #start-maps