// IMPORT STYLES
@import common
@import header

body
    background-color darkBgColor

// Tab page headers are H2 elements.
h2
    border-bottom 3px solid darkHoverColor
    margin-top 0
    padding-bottom 4px

// Sub / panel headers are H4 elements.
h4
    margin-bottom 2px

// MENU
// -------------------------------------------------------------------------

// Title on admin pages.
#menu-admintitle
    color lightTextColor !important
    font-family OpenSansBold

// TABS
// -------------------------------------------------------------------------

// Admin tabs with top margin.
.admin-tab
    margin-top headerHeight
    padding 16px

// Shared grid and row styles.
.grid
    background mediumBgColor
    div.row > div
        display inline-block
        padding 5px
    div.actions > img
        margin 0 5px 0 5px
        vertical-align bottom

// TABS: USERS
// -------------------------------------------------------------------------

// The users tab.
#tab-users
    div.edit
        // Spaced roles.
        div.roles
            .toggle
                margin-left 2px
                margin-right 4px
            label.role
                margin-right 12px

// The users grid.
#user-grid
    div.displayName
        width 30%
    div.username
        width 20%
    div.roles
        width 30%