// ALERTS VIEW
// -------------------------------------------------------------------------

#alert-footer
    background rgba(200, 200, 200, 0.4)
    color lightTextColor
    bottom 0
    height 15px
    left 0
    padding 7px 0 10px 0
    position fixed
    text-align center
    width 100%
    z-index 9

    label
        font-weight bold
        margin-right 10px

    span
        margin-right 10px

// Normal and success messages in green.
#alert-footer.ok
    background okBg

// Error messages in red.
#alert-footer.error
    background errorBg


#alert-tooltip
    border 2px solid brightBgColor
    border-left 0
    border-right 0
    box-shadow 0 0 80px 12px lightBgColor
    left 0
    margin 2px auto auto auto
    position fixed
    top headerHeight
    width 100%
    z-index 99
    -webkit-user-select none
    user-select none

    > div
        padding 15px 19px 15px 19px

    // The tooltip alert message.
    span
        display block
        font-size 110%
        margin-top 10px

    // The tooltip alert title.
    label
        display block
        font-family OpenSansBold
        font-size 22px
        padding 0 0 5px 0

    // The tooltip alert time.
    time
        margin-top 20px

#alert-tooltip.ok
    background-color okBg

#alert-tooltip.error
    background-color errorBg
