// APP MASTER STYLE
// ---------------------------------------------------------------

// GLOBAL SIZING
headerHeight = 41px
footerHeight = 37px
mapControlsWidth = 295px

// PAGE AND TEXT COLOURS
pageBgColor = rgb(0, 0, 0)
darkBgColor = rgb(33, 33, 33)
mediumBgColor = rgb(55, 55, 55)
lightBgColor = rgb(99, 99, 99)
lightTextColor = rgb(255, 250, 245)
darkTextColor = rgb(15, 10, 5)
linkColor = rgb(145, 190, 35)

// SPECIAL COLORS
lightHoverColor = rgb(200, 250, 210)
darkHoverColor = rgb(60, 150, 70)

okBg = rgba(120, 250, 110, 0.55)
errorBg = rgba(250, 100, 100, 0.55)
errorColor = rgb(250, 50, 50)

// TABS
tabHighlightColor = rgb(60, 150, 70)
tabBorderColor = rgb(60, 150, 70)

// OVERLAY PROPERTIES
overlayHighlightColor = rgb(120, 220, 130)
overlayHighlightTextColor = rgb(250, 250, 250)
overlayBackground = rgb(40, 40, 40)
overlayBorder = 1px solid rgb(0, 0, 0)

// IMPORT MAIN STYLEs
@import common

// IMPORT SPECIFIC STYLES
@import alerts
@import auditEventManager
@import auditDataManager
@import entityManager
@import footer
@import header
@import help
@import map
@import mapControls
@import overlay
@import settings
@import start
@import tutorial