// APP MASTER STYLE
// -------------------------------------------------------------------------

// FONTS
@font-face
    font-family "OpenSans"
    src url("../fonts/OpenSans-Regular-webfont.eot")
    src url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
@font-face
    font-family "OpenSansLight"
    src url("../fonts/OpenSans-Light-webfont.eot")
    src url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
@font-face
    font-family "OpenSansBold"
    src url("../fonts/OpenSans-Bold-webfont.eot")
    src url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype")
    font-weight normal
    font-style normal
monoFonts = Lucida Console,Liberation Mono,Courier New

// GLOBAL SIZING
headerHeight = 33px
footerHeight = 29px
mapControlsWidth = 295px

// PAGE AND TEXT COLOURS
pageBgColor = rgb(0, 0, 0)
darkBgColor = rgb(33, 33, 33)
mediumBgColor = rgb(55, 55, 55)
lightBgColor = rgb(99, 99, 99)
brightBgColor = rgb(170, 170, 170)
darkTextColor = rgb(15, 10, 5)
lightTextColor = rgb(250, 240, 230)
brightTextColor = rgb(255, 255, 255)
linkColor = rgb(145, 190, 35)

// SPECIAL COLORS
lightHoverColor = rgb(140, 210, 50)
darkHoverColor = rgb(90, 160, 30)
tabBorderColor = rgb(60, 150, 20)
checkedBg = rgb(60, 150, 50)

okBg = rgba(120, 250, 110, 1)
errorBg = rgba(250, 100, 100, 1)
errorColor = rgb(180, 40, 30)

// OVERLAY PROPERTIES
overlayBackground = rgb(40, 40, 40)
overlayBorder = 1px solid rgb(0, 0, 0)
overlayLightBorder = 1px solid rgb(255, 255, 255)

// IMPORT MAIN STYLE
@import common

// IMPORT SPECIFIC STYLES
@import alerts
@import auditEventManager
@import auditDataManager
@import entityManager
@import footer
@import header
@import help
@import map
@import mapControls
@import overlay
@import settings
@import start
@import tutorial