// APP MASTER STYLE
// ---------------------------------------------------------------

// GLOBAL SIZING
headerHeight = 41px
footerHeight = 37px
mapControlsWidth = 295px

// OVERLAY PROPERTIES
overlayHighlightColor = rgba(120, 220, 130, 1)
overlayHighlightTextColor = rgba(250, 250, 250, 1)
overlayBackground = rgba(40, 40, 40, 1)
overlayBorder = 1px solid rgba(0, 0, 0, 1)

// GLOBAL COLOURS
okBg = rgba(120, 250, 110, 0.55)
errorBg = rgba(250, 100, 100, 0.55)
errorColor = rgba(250, 50, 50, 1)
textColor = rgba(0, 0, 0, 1)
highlightColor = rgba(200, 250, 210, 1)

// TABS
tabHighlightColor = rgba(60, 150, 70, 0.5)
tabBorderColor = rgba(60, 150, 70, 1)

// IMPORT MAIN STYLEs
@import common

// IMPORT SPECIFIC STYLES
@import alerts
@import auditEventManager
@import auditDataManager
@import entityManager
@import footer
@import header
@import help
@import map
@import mapControls
@import overlay
@import settings
@import start
@import tutorial