// AUDIT MANAGER STYLES
// -------------------------------------------------------------------------

// Div to preview audit data contents.
#auditdata-preview
    background rgba(200, 200, 200, 0.1) url(../images/preview-bg.png) no-repeat center
    border 1px solid rgba(200, 200, 200, 0.8)
    max-height 95%
    min-height 400px
    overflow auto
    padding 5px
    white-space pre-wrap
    width auto