// ENTITY MANAGER STYLES
// -------------------------------------------------------------------------

// The div representing the shape preview.
#entitymanager-shape-preview
    background rgba(0, 0, 0, 1)
    float right
    height 420px
    margin-top 10px
    position relative
    width 310px

    // The shape template box.
    div
        border 1px solid rgba(200, 200, 200, 1)
        height 100px
        margin 30px
        max-height 160px
        max-width 240px
        position relative
        width 160px

    span, label
        position absolute

    .label-title
        left 50%
        top -18px

    .label-center
        left 50%
        top 50%

    .label-left
        left 2px
        top 50%

    .label-top
        left 50%
        top 2px

    .label-right
        right 2px
        top 50%

    .label-bottom
        bottom 2px
        left 50%
