// FOOTER STYLES
// -------------------------------------------------------------------------

// The footer wrapper.
#footer
    background mediumBgColor
    bottom 0
    left 0
    position fixed
    -webkit-user-select none
    user-select none
    width 100%
    z-index 6

    // Map and shapes path.
    .path
        margin 6px
        span:not(:empty):before
            content " > "

// Footer gets transparent when map is in full screen.
#footer.transparent
    background-color transparent
    opacity 0.6

#footer-maps-name, #footer-maps-entity
    font-weight bold

// The online users div.
#footer-online-users
    background url(../images/ico-user.png) no-repeat right
    bottom -1px
    height 24px
    right 256px
    padding-top 6px
    position fixed
    width 41px
    z-index 7

// The zoom div on the bottom right of the screen.
#footer-zoom
    bottom -5px
    position fixed
    right 1px
    z-index 7
    -webkit-user-select none
    user-select none


    // Each zoom icon (one with -, another with +).
    img
        cursor pointer
        padding-bottom 3px
        vertical-align middle

// The zoom indicator with a right margin to the zoom icons.
#footer-zoom-span
    margin-right 5px