// HEADER STYLES
// ---------------------------------------------------------------

#header
    background mediumBgColor
    left 0
    position fixed
    top 0
    user-select none
    -webkit-user-select none
    width 100%
    z-index 8

    .right
        margin 1px 4px 0 0

// Icons on the top right.
#header > img
    position relative
    z-index 10


// MENU
// ---------------------------------------------------------------

#menu
    font-size 1.1em
    height 34px
    margin 0 5px 0 5px
    position relative
    word-spacing 0

    .lock
        display inline-block
        margin-left 18px
        .toggle
            padding-bottom 1px !important

    .autoupdate
        display inline-block
        margin-left 12px
        .toggle
            padding-bottom 1px !important

    .disabled
        opacity 0.7

    .menu-item
        border 1px solid Transparent
        color brightTextColor
        cursor pointer
        display inline-block
        margin-right 10px
        padding 6px 13px 7px 13px
        position relative
        text-decoration none
        z-index 9

    .menu-item:hover, .menu-item.hover
        background darkBgColor
        color darkHoverColor

    .menu-item.active
        background-color overlayBackground
        border-color overlayBackground
        color lightHoverColor
        padding-bottom 12px

    .lock input[type="checkbox"] + span:after
    .lock input[type="radio"] + span:after
        content "edit"

    .lock input[type="checkbox"]:checked + span:after
    .lock input[type="radio"]:checked + span:after
        content "lock"

    .lock input[type="checkbox"] + span
    .lock input[type="radio"] + span
        color #779977

    .lock input[type="checkbox"]:checked + span
    .lock input[type="radio"]:checked + span
        background rgb(160, 40, 30)
        color #FAFAFA

#top-img-lock
    float right
    margin-top 5px

#top-img-autoupdate
    float right
    margin-top 4px

#top-img-fullscreen
    cursor pointer
    float right
    margin-right 1px
    margin-top 5px

#submenu-items
    display none
    margin-top 1px
    position fixed
    top headerHeight
    z-index 9

    // Each submenu item is a map link.
    .menu-item
        background darkBgColor
        border 0
        display block
        padding-right 26px

        &:hover
            background darkHoverColor
            border 0
            color darkTextColor
            display block

        &.active
            background lightHoverColor
            color darkTextColor

// The top span that shows then an Audit Data is outdated
#top-audit-data-outdated
    font-size 80%
    margin-left 5px
