// HELP VIEW STYLES
// ---------------------------------------------------------------

#help > div

    // Questions and answers as list (UL element).
    .qa
        padding-left 16px

        line-height 21px
        li
            margin-bottom 9px

            // Make questions coloured.
            label
                color brightTextColor
                font-size 14px