// HELP VIEW STYLES
// -------------------------------------------------------------------------

#help > div

    // Questions and answers as list (UL element).
    .qa
        padding-left 16px

        line-height 21px
        li
            color darkHoverColor
            margin-bottom 16px

            // Make questions font bigger.
            label
                color brightTextColor
                display block
                font-size 15px

            // Extra spacing on divs for better reading.
            div
                color lightTextColor
                margin 2px 0 2px 0