// SETTINGS VIEW STYLES
// -------------------------------------------------------------------------

#settings > div

    // Bit of margin below the tab titles.
    h4
        margin-bottom 10px

    // The options tab.
    .options
        .control-label
            display inline-block
            width 148px
        .error
            background errorBg
            color brightTextColor
            margin-right 10px
            padding 5px

    .topmargin
        margin-top 24px

    .modifiers, .shortcuts
        div
            line-height 35px
            strong
                margin-right 5px // Add a margin next to the + symbol

        label
            display inline-block
            width 130px

        span
            font-family monoFonts
            margin-right 5px
            padding 6px

    .modifiers
        span
            cursor pointer

    .shortcuts
        margin-top 16px

    .active
        background checkedBg

    .group
        display inline

    // The open source logo
    .opensource
        float left
        margin-right 14px

    // The license paragraph with monospaced fonts.
    .license
        margin-top 30px
        p
            font-family monoFonts

    // Semi transparent textareas.
    .preview-area
        background rgba(200, 200, 200, 0.1)
        border 1px solid lightBgColor
        height 88%
        overflow auto
        padding 5px
        white-space pre-wrap