// START VIEW STYLES
// -------------------------------------------------------------------------

#start > div

    // The main "Maps" header.
    h4
        margin-top 0

    // THe map list container.
    #start-maps > div
        border-bottom 1px solid lightBgColor

    #start-maps > div:hover
        border-bottom-color lightHoverColor
        .name
            color lightHoverColor

    // The map names.
    .name
        color darkHoverColor
        cursor pointer
        font-weight bold
        margin 13px 0 4px 0

    // The map info text.
    .info
        margin-bottom 7px

    // The map image preview.
    #start-map-preview
        background-color Transparent
        border 1px solid lightHoverColor
        float right
        max-width 600px