// START VIEW STYLES
// ---------------------------------------------------------------

#start > div

    // The main "Maps" header.
    h4
        margin-top 0

    // THe map list container.
    #start-maps > div
        border-bottom 1px solid rgba(200, 200, 200, 0.5)
        margin-right 510px

    #start-maps > div:hover
        border-bottom-color darkHoverColor

    // The map names.
    .name
        color darkHoverColor
        cursor pointer
        font-weight bold
        margin 13px 0 4px 0

    // The map info text.
    .info
        margin-bottom 7px

    // The map image preview.
    #start-map-preview
        background rgba(255, 255, 252, 1)
        border 1px solid rgba(200, 200, 200, 0.5)
        float right
        max-width 600px
        padding 1px