// VARIABLE MANAGER STYLES
// -------------------------------------------------------------------------

#variables
    span.error
        color errorLightColor
        margin-left 10px

    .right-col
        // Align code label to top.
        label.code
            vertical-align top

// The variable code textarea.
#variables-txt-code
    max-height 80%
    min-height 400px
    width 80%

// Save button must have left margin.
#variables-but-save
    margin-left 120px