// VARIABLE MANAGER STYLES
// -------------------------------------------------------------------------

#variables
    span.error
        color errorColor
        margin-left 10px

// The variable code textarea.
#variables-txt-code
    min-height 400px
    width 80%

// Save button must have left margin.
#variables-but-save
    margin-left 120px