@font-face
{
    font-family: 'OpenSansRegular';
    src: url("../fonts/OpenSans-Regular-webfont.eot");
    src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'OpenSansLight';
    src: url("../fonts/OpenSans-Light-webfont.eot");
    src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'OpenSansBold';
    src: url("../fonts/OpenSans-Bold-webfont.eot");
    src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* BODY AND GENERAL TAGS
// ------------------------------------------------------------------------- */

body
{
    background: rgb(0, 0, 0);
    color: rgb(50, 60, 70);
    font: 20px/1.6 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial;
    margin: 0;
    overflow: auto;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body.fulldemo
{
    overflow: hidden;
}

body.fulldemo iframe
{
    border-width: 0 !important;
    position: fixed !important;
}

body.fulldemo #tofulldemo
{
    background-image: url(../images/minimize.png);
    bottom: 5px !important;
    left: auto;
    position: fixed !important;
    right: 150px !important;
    top: auto;
}

p, ul, ol, code
{
    margin: 0 0 20px 0;
}

a
{
    color: rgb(90, 160, 30);
    text-decoration: none;
}

a:hover
{
    color: rgb(140, 210, 50) !important;
}

a small
{
    font-size: 11px;
    color: #666;
    margin-top: -0.6em;
    display: block;
}

strong
{
    font-family: "OpenSansBold", "Helvetica Neue", Helvetica, Arial;
    font-weight: normal;
}

img
{
    max-width: 100%;
}

code
{
    background: rgb(240, 240, 240);
    border-left: 1px solid rgb(100, 110, 120);
    display: block;
    font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    padding: 2px 5px 2px 5px;
}

/* CONTAINERS
// ------------------------------------------------------------------------- */

#wrapper
{
    background-color: rgb(252, 252, 252);
    margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 1200px;
}

.contents
{
    margin: auto;
    width: 980px;
}

.bar
{
    border-bottom: 3px solid rgb(90, 160, 30);
    color: rgb(20, 30, 25);
    margin-bottom: 40px;
    margin-top: 50px;
    padding: 10px 0 10px 0;
}

/* HEADER AND TOP FACTS
// ------------------------------------------------------------------------- */

#header
{
    background: rgb(0, 0, 0);
    height: 438px;
}

#header iframe
{
    border: 1px solid rgb(190, 190, 190);
    left: 90px;
    height: 310px;
    padding: 5px;
    position: absolute;
    top: 50px;
    width: 580px;
}

#tofulldemo
{
    background: url(../images/maximize.png) no-repeat 98% 50%;
    color: rgb(190, 190, 190);
    cursor: pointer;
    display: block;
    font-size: 11px;
    left: 517px;
    padding-right: 22px;
    position: absolute;
    top: 374px;
}

#tofulldemo:hover
{
    color: rgb(252, 252, 252);
}

#miniheader
{
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px rgb(20, 20, 20);
    color: rgb(250, 248, 245);
    left: 50%;
    margin-left: -600px;
    padding: 3px 0 5px 0;
    position: fixed;
    top: 0;
    width: 1200px;
}

#miniheader div
{
    font-size: 14px;
    text-align: left;
}

#miniheader a
{
    color: rgb(250, 248, 245);
    margin: 0 10px 0 10px;
}

#miniheader span
{
    float: right;
}

#miniheader .active
{
    color: rgb(150, 190, 130) !important;
}

h1
{
    color: rgb(255, 255, 255);
    font-family: "OpenSansLight";
    font-size: 58px;
    margin: 0;
    padding: 160px 0 0 0;
    text-align: right;
}

h6
{
    background: url(../images/zalando_logo_top.png) no-repeat right;
    color: rgb(250, 250, 250);
    font-size: 20px;
    float: right;
    height: 25px;
    margin: 6px 6px 0 0;
    text-align: left;
    width: 174px;
}

#topfacts
{
    color: rgb(131, 149, 162);
    margin-top: 60px;
}

#topfacts > div
{
    display: inline-block;
    padding: 134px 10px 0 10px;
    vertical-align: top;
    width: 303px;
}

#topfacts > div > p
{
    text-align: left;
}

#topfacts .visualize
{
    background: url(../images/ico_visualize.png) no-repeat top;
}

#topfacts .integrate
{
    background: url(../images/ico_integrate.png) no-repeat top;
}

#topfacts .monitor
{
    background: url(../images/ico_monitor.png) no-repeat top;
}

#topdemo
{
    margin-top: 20px;
}

#topdemo h5
{
    margin: auto;
    text-align: center;
    font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial;
    font-size: 20px;
}

#topdemo div
{
    display: block;
    margin-top: 10px;
}

#topdemo a
{
    font-weight: bold;
}

#topdemo small
{
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

/* CONTENTS
// ------------------------------------------------------------------------- */

#main-contents div.contents
{
    text-align: left;
}

#main-contents div label
{
    font-weight: bold;
}

h2
{
    font-size: 35px;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.paas small
{
    color: rgb(131, 149, 162);
    display: block;
    font-size: 14px;
}

/* FOOTER
// ------------------------------------------------------------------------- */

#footer
{
    border-top: 1px solid rgb(200, 200, 200);
    font-size: 14px;
    height: 40px;
    margin-top: 70px;
    padding-top: 10px;
}

#footer > img
{
    float: left;
    margin-right: 9px;
}

#footer a
{
    color: rgb(30, 30, 30);
    float: right;
    margin-left: 20px;
}