@font-face
{
    font-family: 'OpenSansRegular';
    src: url("../fonts/OpenSans-Regular-webfont.eot");
    src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'OpenSansLight';
    src: url("../fonts/OpenSans-Light-webfont.eot");
    src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'OpenSansBold';
    src: url("../fonts/OpenSans-Bold-webfont.eot");
    src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* BODY AND GENERAL TAGS
// ------------------------------------------------------------------------- */

body
{
    background: rgb(0, 0, 0);
    color: rgb(50, 60, 70);
    font: 20px/1.7 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial;
    margin: 0;
    overflow: auto;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

p, ul, ol, code
{
    margin: 0 0 20px 0;
}

a
{
    color: rgb(90, 160, 30);
    text-decoration: none;
}

a:hover
{
    color: rgb(140, 210, 50) !important;
}

a small
{
    font-size: 11px;
    color: #666;
    margin-top: -0.6em;
    display: block;
}

strong
{
    font-family: "OpenSansBold", "Helvetica Neue", Helvetica, Arial;
    font-weight: normal;
}

img
{
    max-width: 100%;
}

code
{
    background: rgb(30, 30, 30);
    color: rgb(140, 210, 50);
    display: block;
    font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    padding: 5px;
}

h3
{
    font-size: 30px;
}

/* CONTAINERS
// ------------------------------------------------------------------------- */

#wrapper
{
    background-color: rgb(252, 252, 252);
    margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 1200px;
}

.contents
{
    margin: auto;
    width: 1110px;
}

.bar
{
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 100%);
    border-bottom: 3px solid rgb(90, 160, 30);
    color: rgb(20, 30, 25);
    margin-bottom: 40px;
    padding: 20px 0 10px 0;
}

#page
{
    margin-bottom: 40px;
    margin-top: 30px;
}

/* HEADER AND TOP FACTS
// ------------------------------------------------------------------------- */

#demoframe
{
    border: 1px solid rgb(190, 190, 190);
    height: 350px;
    left: 10px;
    padding: 5px;
    position: absolute;
    top: 580px;
    width: 1168px;
}

#demoframe-overlay
{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(240, 240, 240);
    font-size: 40px;
    height: 200px;
    left: 10px;
    opacity: 0;
    margin: 5px;
    padding-top: 150px;
    position: absolute;
    text-align: center;
    top: 580px;
    width: 1168px;
}

#demoframe-overlay:hover
{
    opacity: 0.9;
}

#topmenu
{
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px rgb(20, 20, 20);
    color: rgb(250, 248, 245);
    left: 50%;
    margin-left: -600px;
    padding: 3px 0 5px 0;
    position: fixed;
    top: 0;
    width: 1200px;
    z-index: 9;
}

#topmenu div
{
    font-size: 18px;
    text-align: left;
}

#topmenu a
{
    color: rgb(250, 248, 245);
    margin: 0 10px 0 10px;
}

#topmenu span
{
    float: right;
}

#topmenu .active
{
    color: rgb(150, 190, 130) !important;
}

h1
{
    color: rgb(0, 0, 0);
    font-family: "OpenSansLight";
    font-size: 58px;
    margin: 0;
    padding: 80px 0 0 0;
    text-align: center;
}

#topfacts
{
    color: rgb(131, 149, 162);
    margin-top: 20px;
}

#topfacts > div
{
    display: inline-block;
    padding: 134px 0 0 0;
    vertical-align: top;
    width: 33%;
}

#topfacts > div > h3
{
    margin: 10px;
    text-align: center;
}

#topfacts > div > p
{
    margin: 10px;
    text-align: left;
}

#topfacts .visualize
{
    background: url(../images/ico_visualize.png) no-repeat top;
}

#topfacts .integrate
{
    background: url(../images/ico_integrate.png) no-repeat top;
}

#topfacts .monitor
{
    background: url(../images/ico_monitor.png) no-repeat top;
}

#demoinfo
{
    margin-top: 440px;
}

#demoinfo h5
{
    margin: auto;
    text-align: center;
    font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial;
    font-size: 20px;
}

#demoinfo div
{
    display: block;
    margin-top: 10px;
}

#demoinfo a
{
    font-weight: bold;
}

#demoinfo small
{
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

/* CONTENTS
// ------------------------------------------------------------------------- */

#page div.contents
{
    text-align: left;
}

#page div label
{
    font-weight: bold;
}

h2
{
    font-size: 35px;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.paas small
{
    color: rgb(131, 149, 162);
    display: block;
    font-size: 14px;
}

/* FOOTER
// ------------------------------------------------------------------------- */

#footer-logos
{
    background: rgb(240, 240, 240);
    padding: 40px 0 40px 0;
    text-align: left;
}

#footer-logos img
{
    margin: 0 20px 0 0;

}

#footer-notes
{
    background: rgb(220, 220, 220);
    padding: 20px 0 40px 0;
    text-align: left;
}

#footer-notes h3
{
    margin-left: 3px;
}

#footer-notes h3 img
{
    margin-left: 8px;
}

#footer-notes code
{
    margin-top: 7px;
}

#footer
{
    background: rgb(195, 195, 195);
    height: 40px;
    padding: 40px 0 40px 0;
    text-align: left;
}

#footer .right
{
    float: right;
}

#footer .right img
{
    margin-left: 6px;
}

#footer a
{
    color: rgb(30, 30, 30);
    margin-right: 20px;
}

.footer-right
{
    float: right;
    padding: 8px;
    width: 50%;
}

/* TOOLTIPS
// ------------------------------------------------------------------------- */

#fork
{
    background: url(../images/fork.png) no-repeat;
    display: block;
    height: 149px;
    position: absolute;
    right: 0;
    top: 0;
    width: 149px;
    z-index: 7;
}